.detail-container {
    margin: auto;
    text-align: center;
    justify-content: center;
}


.detail {
    margin: auto;
    text-align:center;
    width: 30%;
}

.details-property-paragraph {
    text-align: left;
    font-family: 'Pathway Gothic One', sans-serif;
    margin: 10px;
    vertical-align: middle;
    background-color: rgba(24, 40, 104, 0.644);
    display: flex;
    border-radius: 10px;
}

.property-name {
    margin: 5px;
    margin-left: 3%;
    vertical-align: middle;
    text-align: left;
}


.property-value {
    margin: auto;
    margin-right: 3%;
    text-align: right;
    vertical-align: middle;
    text-transform: capitalize;
}


.left-align {
    z-index: 5;
    width: 30%;
    margin-top: 8%;
    margin-left: 5%;
    float: left;
}

.right-align {
    z-index: 1;
    max-width: 70%;
    float: right;
}

