.home-main {
    height: 100vh;
    overflow: hidden;
}


.fade {
    z-index: 2;
    position: relative;
    width: 100%;
    min-height: 35vh;
    top: -100px;
    background-image: linear-gradient(0deg, transparent, black 75%);
}

.star-wars {
    z-index: 1;
    height: 100px;
    perspective: 1800px;
    
    position: relative;
    display: flex;
    justify-content: center;

    color: #feda4a;
    text-align: justify;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 700%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    
}

.crawl {
    position: relative;
    top: 999px;
    transform-origin: -10% 100%;
    animation: crawl 60s linear;
    animation-iteration-count: infinite;
}

.crawl > .title {
    font-size: 90%;
    text-align: center;
}

.crawl > .title h1 {
    margin: 0 0 100px;
    text-transform:uppercase;
}

@keyframes crawl {
    0% {
        top: 0;
        transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
        top: -13000px;
        transform: rotateX(30deg) translateZ(-2500px);
    }
}