* {
    z-index: 4;
    margin: auto;
    text-align: center;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
}

body {
    margin: auto;
    background: linear-gradient(to right, #0c0a11 0%, #08121b 100%);
    overflow-x: hidden;
}

li {
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    line-height: 150%;
}


ul {
    list-style-type: none;
    margin: auto;
}

.main {
    display: -ms-flexbox;
}

