* {
    z-index: 3;
    margin: auto;
    text-align: center;
    color: #feda4a;
}

/* Home page Effects */

body {
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}

.fade {
    position: relative;
    width: 100%;
    min-height: 50vh;
    top: -100px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 2;
}

.star-wars {
    z-index: 1;
    display: flex;
    justify-content: center;
    position: relative;
    height: 100px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 700%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 1500px;
    text-align: justify;
}

.crawl {
    position: relative;
    top: 999px;
    transform-origin: 50% 100%;
    animation: crawl 5s linear;
}

.crawl > .title {
    font-size: 90%;
    text-align: center;
}

.crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
}

@keyframes crawl {
    0% {
        top: 0;
        transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}

/* Home page Effects ends*/


.header-item-text {
    z-index: 4;
    text-decoration: none;
    color: yellow;
}

.header-item-text:hover {
    /* opacity: 80%; */
    background-color: rgba(59, 75, 172, 0.438);
}

.header-container {
    background-color: black;
}


.header-item {
    z-index: 5;
    text-decoration: none;
    color: yellow;

    margin: 10px;
    width: 10%;
    display: inline-flex;
    flex-direction: column;

    border: none;
    border-radius: 5%;
    background-color: rgba(36, 42, 63, 0.705);
    vertical-align: top;
}

.search-field {
    text-align: left;
    border: none;
    border-radius: 0%;
    outline: none;
    cursor: pointer;
}

.home-icon-container {
    text-decoration: none;
    color: rgb(235, 235, 235);

    margin: 10px;
    display: inline-flex;
    flex-direction: column;
    max-width: 6%;
}

.home-icon {
    max-width: 100%;
}

.search-icon {
    max-width: 100%;
}


li {
    text-decoration: none;
    color: rgb(223, 221, 221);
}


ul {
    margin: auto;
    text-align: center;
}



.detail-container {
    margin: auto;
    text-align: center;
    justify-content: center;
}


.detail {
    text-align:left;
    width: 30%;
}

.search-field-container {
    text-decoration: none;
    color: yellow;

    margin: 10px;
    width:fit-content;
    display: inline-flex;
    flex-direction: column;
    outline: none;
    vertical-align: top;
}

.item {
    text-decoration: none;
    color: rgb(206, 200, 200);

    margin: 10px;
    width: 10%;
    display: inline-flex;
    flex-direction: column;

    border: solid;
    border-color: rgba(220, 220, 220, 50%);
    border-radius: 3%;
    vertical-align: top;
}


.item-text {
    text-decoration: none;
    color: rgb(255, 230, 230);
}

.item-text:hover {
    opacity: 80%;
    background-color: rgba(65, 90, 230, 0.281);
}

